body {
  background-color: #000;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
}
#app {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.weather-widget {
  opacity: 0;
  font-size: 32px;
  font-weight: 400;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  margin-right: 20px;
}
.icon {
  width: 50px;
  height: 35px;
}
.icon use {
  fill: #fff;
}

.date-time {
  font-size: 32px;
  width: auto;
  font-weight: 100;
  position: fixed;
  left: 15px;
  top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.time {
  display: flex;
  flex-direction: column;
}

.date {
  font-size: 18px;
}

.location {
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:100%;
  height: 200px;
  text-align: center;
}

.location input[name=location] {
  width: 180px;
  height: 30px;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  padding: 8px;
  font-size: 20px;
}

.location button {
  width: 150px;
  height: 30px;
  background-color: #FFF2AF;
  color: #FF6600;
  font-size: 18px;
  line-height: 28px;
  border: none;
  cursor: pointer;
}

.events {
  float: right;
  margin-right: 15px;
}

.events-list {
  margin: 0;
  width: auto;
  max-width: 320px;
}

.events-list li {
  list-style: decimal;
}

.news {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}

.news-list {
  margin: 0;
  padding: 0;
  min-width: 120px;
  text-align: center;
}

.news-list li {
  list-style: none;
  font-weight: 100;
}

.weather-wrapper {
  .today {
    background-position: top right;
    background-repeat: no-repeat;
    width: 170px;
    height: 42px;
    padding: 15px;
    line-height: 0px;
  }
}